
@font-face {
    font-family: "Overpass";
    src: url("/src/assets/fonts/overpass-regular-webfont.woff2") format("woff2"),
         url("/src/assets/fonts/overpass-regular-webfont.woff") format("woff");
}

html, body {
    margin:0;
    padding:0;
}

html {
    font-size: 16px;
}

body {
    display:grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    text-align: center;
    color: darkblue;
    background-color: rgb(249, 246, 234);
    font-family: 'Overpass', sans-serif;
}

/* HEADER */

body > header {
    grid-row: 1 / 2;
    text-align: center;
    background: linear-gradient(#8272DB, #729CF2, #65CEEB);
    color: rgb(255, 255, 255);
    padding:10px 0;
    margin:0;
}

h1 {
    margin: 60px 30px 30px;
}

nav {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.612);
}

nav > ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    list-style-type: none;
    margin: 0 5px;
    padding: 0;
}

nav > ul > li {
    flex-grow: 1;
    color: wheat;
    padding: 15px;
    
}

a {
    text-decoration: none;
    font-weight: bold;
    padding:10px;
}

a:link {
    color: darkblue;
}

a:focus, a:hover {
    color: rgb(137, 34, 240);
    text-shadow: 2px 2px 4px #00000045;
}

nav > ul > li a:focus, nav > ul > li a:hover {
    background-color: rgba(255, 255, 255, 0.858);
}

/* FIN HEADER */

body > main {
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100vw; */
}


body > footer {
    grid-row: 3 / 4;
    display: block;
    text-align: center;
    background-color: #729CF2;
    color: white;
}

article {
   margin: 60px 30px;
}

small {
    display: block;
    clear:both;
}

small a {
    padding:0;
    
}

#semicirculaire {
    height: 250px;
    width: 500px;
}

#lignes-pleines-flotantes {
    height: 500px;
    width: 100px;
}
#lignes-et-barres {
    height: 200px;
    width: 500px;
}

@media screen and (min-width: 592px) { 
    
    h1 {
        margin: 60px 30px;
    }

    nav > ul {
        display:flex;
        flex-direction: row;
    }

    nav > ul > li {
        padding: 0px;
    }

}


@media screen and (min-width: 800px) { 

    body > footer {
        display:flex;
        align-content: space-between;
    }

    body > footer > p {
        flex-grow: 1;
    }    
}


